# Node / Vite / React
node_modules/
dist/
.vite/
*.log
npm-debug.log*

# Entornos
.env*
!.env.example

# OS / editores
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Tests / cache
coverage/
.tmp/
.cache/
